@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <div>
        <input type="submit" style="margin: 20px" value="TryReadLogFile" asp-page-handler="ReadLog" />       
    </div>
    <textarea class="form-control" cols="100" min-height: 400px">@IndexModel.LogFileContent</textarea>
</form>
